# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Dell\Desktop\DiAnS\GitRepo\Dizajn-i-arhitektura-na-softver\Domashno_3\microservices_application\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
